// Variables

// Color pointers
@nav-bg: @dark-green;
@nav-font: @nav-color;
@footer-background: @dark-green;


// Color/Font variables
@dark-green: #0B300B;
@nav-color: white;
@btn-bg-color: #22283A;
@spartan: 'Spartan', sans-serif;


// Mobile variable
@phone: ~"(max-width:500px)";